<ion-header >
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Tasks </ion-title>
    <ion-title class="ion-text-center">{{username}}</ion-title>    

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button lines="full" *ngFor="let task of data" [routerLink] ="[task.id]">
      <ion-label>
        {{task.name}} {{task.assignee}}
      </ion-label>
      <ion-badge slot="end">
        {{task.priority}}
      </ion-badge>

    </ion-item>
  </ion-list>
  

  <ion-infinite-scroll (ionInfinite)="getTasks($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">

    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button href="/process">
        <ion-icon name="git-compare"></ion-icon>
        <ion-label>Process</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>profile</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/task">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Task</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/task-assigned">
        <ion-icon name="document"></ion-icon>
        <ion-label>Assigned Task</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>


</ion-toolbar>
