<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">{{task?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" >
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="warning" (click)="unclaimTask()">Unclaim</ion-button>
  <h3 id="taskName">
    {{task?.name}}
  </h3>
  <form [formGroup]="myForm">
    <ion-item *ngFor="let control of obj" lines="full">
      <ion-label position="floating">{{control.name}}</ion-label>
      <ion-input [formControlName]="control.name" *ngIf="control.type=='String'" type="control.type" id="control"></ion-input>
      <ion-datetime [formControlName]="control.name" *ngIf="control.type=='Date'" color="primary" locale="fr-FR"></ion-datetime>
      <ion-checkbox [formControlName]="control.name" *ngIf="control.type=='Boolean'" color="primary" [checked]="true"></ion-checkbox>

    </ion-item>
    <br>
    <ion-button type="submit" expand="block" color="secondary" (click)="onSubmit()">Submit</ion-button>
    </form>

  </ion-content>
