<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Profile Informations </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>
      id :  {{data?.id}}
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
      firstName :  {{data?.firstName}}
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
      lastName :  {{data?.lastName}}
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
      email :  {{data?.email}}
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button href="/process">
        <ion-icon name="git-compare"></ion-icon>
        <ion-label>Process</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>profile</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/task">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Task</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/task-assigned">
        <ion-icon name="document"></ion-icon>
        <ion-label>Assigned Task</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>


</ion-toolbar>
