<ion-header>
  <ion-toolbar>
    <ion-title>process</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of data" [routerLink] ="[item.id]">
      <ion-label>
        {{item.key}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getProcesses($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">

    </ion-infinite-scroll-content>
</ion-infinite-scroll>
