<ion-header >
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Process </ion-title>
    <ion-title class="ion-text-center">{{username}}</ion-title>    

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button lines="full" *ngFor="let process of data" [routerLink] ="[process.id]">
      <ion-label>
        {{process.name}}
      </ion-label>
      <ion-badge slot="end">
        {{process.versionTag}}
      </ion-badge>

    </ion-item>
  </ion-list>
  

  <ion-infinite-scroll (ionInfinite)="getProcesses()">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">

    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>



