ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
}
 
#processName 
{
    background-color: #3dc2ff;
    color: white;
    border-radius: 10px ;
    padding: 10px;
}